<form [formGroup]="form" (ngSubmit)="send()" autocomplete="off">

  <div class="form-group">
    <label for="message_author" class="control-label">Autor</label>
    <input #author type="email" formControlName="author" id="message_author" class="form-control" [class.is-invalid]="submitted && f.author.errors">
    <div *ngIf="submitted && f.author.errors" class="invalid-feedback">
      <span *ngIf="f.author.errors.required">El autor es obligatorio!!!</span>
      <span *ngIf="f.author.errors.email">El autor debe ser un email</span>
    </div>
  </div>

  <div class="form-group">
    <label for="message_text" class="control-label">Mensaje</label>
    <input type="text" formControlName="text" id="message_text" class="form-control" [class.is-invalid]="submitted && f.text.errors">
    <div *ngIf="submitted && f.text.errors" class="invalid-feedback">
      <span *ngIf="f.text.errors.required">El mensaje es obligatorio!!!</span>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>